[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
pypdf2 = "*"
pdfcropmargins = {extras = ["gui"], version = "*"}
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.10"
